<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="5">
          <b-card-group>
            <b-card no-body class="p-4 login__box">
              <b-card-body>
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <b-input-group class="mb-3">
                  <input type="text" class="form-control" placeholder="Username" v-model="username">
                </b-input-group>
                <b-input-group class="mb-4">
                  <input type="password" class="form-control" placeholder="Password" v-model="password">
                </b-input-group>
                <b-row>
                  <b-col cols="6">
                    <b-button variant="primary" class="px-4" @click="getToken">Login</b-button>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>

    <loading :show="loadingflag" :LoadingText="'Loading...'" :Lcolor="'#5dc596'"></loading>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import VueCookies from 'vue-cookies'
import Loading from '../../components/Loading.vue'
import Config from '../../../config/config.js'
Vue.use(VueCookies)
Vue.use(VueAxios, axios)
var baseUrl = Config.baseUrl
var apiClient = Config.apiClient
export default {
  name: 'Login',
  components: {Loading},
  data () {
    return {
      username: '',
      password: '',
      loadingflag: false,
      client_id: apiClient.id,
      client_secret: apiClient.secret,
      errors: []
    }
  },
  methods: {

    // get Token
    getToken () {
      this.loadingflag = true
      var querystring = require('querystring')
      axios.post(baseUrl + 'oauth/token',
        querystring.stringify({
          grant_type: 'password',
          client_id: this.client_id,
          client_secret: this.client_secret,
          username: this.username,
          password: this.password,
          scope: '*'
        }))
        .then(response => {
          console.log(response.data);
          let data = response.data;
          console.log(data.access_token)
          this.loadingflag = false
          this.$cookies.set('user', data.access_token)
          this.$router.push('/dashboard')
          this.$router.go('/dashboard')
        })
        .catch(err => {
          this.loadingflag = false

          // set errors
          this.errors =  err.response.data

          // error with hint
          if(this.errors.hint) {
            this.$toaster.error(this.errors.hint)
          // error without hint
          } else {
            this.$toaster.error(this.errors.message)
          }
        })
    }
  }
}
</script>
