<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-4">
        <b-card header="<i class='icon-note'></i> Player Add">
          <div class="col-sm-12">
            <b-form-fieldset label="First Name">
              <input type="text" name="name" v-model="playerfirstname" class="form-control">
            </b-form-fieldset>
            <b-form-fieldset label="Last Name">
              <input type="text" name="name" v-model="playerlastname" class="form-control">
            </b-form-fieldset>
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" @click="AddPlayer">Add Player</button>
          </div>
        </b-card>
      </div>
      <div class="col-lg-8">
        <b-card header="<i class='icon-menu'></i> Player List">
          <table class="table table-striped list__row">
            <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Time</th>
              <th>Create Time</th>
              <th>Update Time</th>
              <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(player , index) in playerList">
              <td>{{index + 1}}</td>
              <td>
                  <span v-if="player.editmode">
                  <input v-model="player.first_name"/></span>
                <span v-else>{{player.first_name}}</span>
              </td>
              <td>
                  <span v-if="player.editmode">
                  <input v-model="player.last_name"/></span>
                <span v-else>{{player.last_name}}</span>
              </td>
              <td>{{player.created_at.date | moment('timezone', player.updated_at.timezone) | moment("YYYY/MM/d")}}</td>
              <td>{{player.updated_at.date | moment('timezone', player.updated_at.timezone) | moment("YYYY/MM/d")}}</td>
              <td>
                  <span v-if="!player.editmode">
                    <button type="submit" class="btn btn-primary" @click="EditData(player)">Edit</button>
                  </span>
                <span v-else>
                    <button type="submit" class="btn btn-success" @click="SaveData(player)">Save</button>
                  </span>
              </td>
            </tr>
            </tbody>
          </table>
        </b-card>
      </div>
    </div>

    <loading :show="loadingflag" :LoadingText="'Loading...'" :Lcolor="'#5dc596'"></loading>
  </div>
</template>

<script>
  import Vue from 'vue'
  import axios from 'axios'
  import VueAxios from 'vue-axios'
  import VueCookies from 'vue-cookies'
  import VueMoment from 'vue-moment'
  import moment from 'moment-timezone'
  import {store} from '../../store/store.js'
  import Loading from '../../components/Loading.vue'
  import Config from '../../../config/config.js'

  Vue.use(VueCookies)
  Vue.use(VueAxios, axios)
  Vue.use(VueMoment)
  var baseUrl = Config.baseUrl

  export default {
    name: 'dashboard',
    components: {Loading},
    data: function () {
      return {
        playerfirstname: '',
        playerlastname: '',
        selectedteam: '',
        loadingflag: false,
        teamlist: store.state.teamlist,
        playerList: []
      }
    },
    created() {
      this.selectedteam = localStorage.getItem('selectedteam')
      this.ListData()
    },
    methods: {

      // Edit Data
      EditData(obj) {
        this.$set(obj, 'editmode', true)
      },

      // Save Data
      SaveData(obj) {
        this.$set(obj, 'editmode', false)

        this.UpdateData(obj)
      },

      // search on list and update that
      UpdateData(value) {
        if (value.id) {
          for (let item in this.playerList) {
            if (this.playerList[item].id === value.id) {
              this.playerList[item].first_name = value.first_name
              this.playerList[item].last_name = value.last_name
              this.updateUser(value)
            }
          }
        }
      },

      // add team data
      AddPlayer() {
        axios.post(baseUrl + 'api/teams/' + this.selectedteam + '/players',
          {
            first_name: this.playerfirstname,
            last_name: this.playerlastname
          },
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookies.get('user')
            }
          })
          .then(response => {
            this.ListData()
          })
          .catch(err => {
            let error = err.response.data[0]
            this.loadingflag = false
            if (error) {
              this.$toaster.error(error.message)
            }
          })
      },

      // List Data
      ListData() {
        axios.get(baseUrl + 'api/teams/' + this.selectedteam + '/players',
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookies.get('user')
            }
          })
          .then(response => {

            this.playerList = response.data.data
          })
          .catch(err => {
            let error = err.response.data[0]
            this.loadingflag = false
            if (error) {
              this.$toaster.error(error.message)
            }
          })
      },

      // update from id
      updateUser(value) {
        axios.put(baseUrl + 'api/teams/' + this.selectedteam + '/players/' + value.id,
          {
            first_name: value.first_name,
            last_name: value.last_name
          },
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookies.get('user')
            }
          })
          .then(response => {
            this.ListData()
          })
          .catch(err => {
            let error = err.response.data[0]
            this.loadingflag = false
            if (error) {
              this.$toaster.error(error.message)
            }
          })
      }
    }
  }
</script>
