<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-4">
        <b-card header="<i class='icon-note'></i> Team Add">
          <div class="col-sm-12">
            <b-form-fieldset label="Team Name">
              <input type="text" name="name" v-model="name" class="form-control">
            </b-form-fieldset>
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" id="addteam" @click="AddData">Add</button>
          </div>
        </b-card>
      </div>
      <div class="col-lg-8">
        <b-card header="<i class='icon-menu'></i> Team List">
          <table class="table table-striped list__row">
            <thead>
            <tr>
              <th>ID</th>
              <th class="team__name">Team Name</th>
              <th>Create</th>
              <th>Update</th>
              <th>Players</th>
              <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(team , index) in teamlist">
              <td>{{index + 1}}</td>
              <td>
                  <span v-if="team.editmode">
                  <input v-model="team.name"/></span>
                <span v-else>{{team.name}}</span>
              </td>
              <td>{{team.created_at.date | moment("YYYY/MM/d")}}</td>
              <td>{{team.updated_at.date | moment("YYYY/MM/d")}}</td>
              <td>
                <button type="submit" :name="team.id" class="btn btn-link" @click="getPlayers">Players</button>
              </td>
              <td>
                  <span v-if="!team.editmode">
                    <button type="submit" class="btn btn-primary" @click="EditData(team)">Edit</button>
                  </span>
                <span v-else>
                    <button type="submit" class="btn btn-success" @click="SaveData(team)">Save</button>
                  </span>
                <button type="submit" class="btn btn-danger" @click="DeleteData(team)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>

        </b-card>
      </div>
    </div>

    <loading :show="loadingflag" :LoadingText="'Loading...'" :Lcolor="'#5dc596'"></loading>
  </div>
</template>

<script>
  import Vue from 'vue'
  import axios from 'axios'
  import VueAxios from 'vue-axios'
  import VueCookies from 'vue-cookies'
  import VueMoment from 'vue-moment'
  import moment from 'moment-timezone'
  import pagination from 'laravel-vue-pagination'
  import {store} from '../store/store.js'
  import Loading from '../components/Loading.vue'
  import Config from '../../config/config.js'

  Vue.use(VueCookies)
  Vue.use(VueAxios, axios)
  Vue.use(VueMoment)
  var baseUrl = Config.baseUrl

  export default {
    name: 'dashboard',
    components: {Loading},
    data: function () {
      return {
        name: '',
        loadingflag: false,
        prevflag: true,
        nextflag: true,
        teamlist: {}
      }
    },
    created() {
      this.ListData()
    },
    methods: {

      // Edit Data
      EditData(obj) {
        this.$set(obj, 'editmode', true)
      },

      // Save Data
      SaveData(obj) {
        this.$set(obj, 'editmode', false)
        this.UpdateData(obj)
      },

      // search on list and update that
      UpdateData(obj) {
        if (obj.id) {
          for (let item in this.teamlist) {
            if (this.teamlist[item].id === obj.id) {
              this.teamlist[item].name = obj.name
              this.updateUser(obj)
            }
          }
        }
      },

      // add team data
      AddData() {
        var querystring = require('querystring')
        axios.post(baseUrl + 'api/teams',
          querystring.stringify({
            name: this.name
          }),
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookies.get('user')
            }
          })
          .then(response => {
            this.ListData()
          })
          .catch(err => {
            let error = err.response.data[0]
            this.loadingflag = false
            if (error) {
              this.$toaster.error(error.message)
            }
          })
      },

      // List Data
      ListData() {
        axios.get(baseUrl + 'api/teams',
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookies.get('user')
            }
          })
          .then(response => {
            // set data to list
            this.teamlist = response.data.data
            store.state.teamlist = this.teamlist
            this.pages = response.data.meta.last_page
          })
          .catch(err => {
            let error = err.response.data[0]
            this.loadingflag = false
            if (error) {
              this.$toaster.error(error.message)
            }
          })
      },

      // update from id
      updateUser(value) {
        axios.put(baseUrl + 'api/teams/' + value.id, {"name": value.name},
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookies.get('user')
            }
          })
          .then(response => {
            this.ListData()
          })
          .catch(err => {
            let error = err.response.data[0]
            this.loadingflag = false
            if (error) {
              this.$toaster.error(error.message)
            }
          })
      },

      // get players from team id
      getPlayers(e) {
        localStorage.setItem('selectedteam', e.target.name)
        this.$router.push('/Players')
        this.$router.go('/Players')
      },

      // delete data from team id
      DeleteData(obj) {
        if (obj.id) {
          for (let item in this.teamlist) {
            if (this.teamlist[item].id === obj.id) {
              this.teamlist[item].name = obj.name
              this.DeleteRow(obj)
            }
          }
        }
      },


      // Delete Row
      DeleteRow(value) {
        axios.delete(baseUrl + 'api/teams/' + value.id,
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookies.get('user')
            }
          })
          .then(response => {
            this.ListData()
          })
          .catch(err => {
            let error = err.response.data[0]
            this.loadingflag = false
            if (error) {
              this.$toaster.error(error.message)
            }
          })
      }

    }
  }
</script>
