<template>
      <b-nav-item-dropdown right no-caret class="logout">
        <template slot="button-content">
          <span>{{username}}</span>
        </template>
        <a title="LOGOUT" @click="logOut">logout</a>
      </b-nav-item-dropdown>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import VueCookies from 'vue-cookies'
import { store } from '../../store/store.js'
import Loading from '../../components/Loading.vue'
import Config from '../../../config/config.js'

var baseUrl = Config.baseUrl
Vue.use(VueCookies)
Vue.use(VueAxios, axios)
export default {
  name: 'header-dropdown',
  components: {
    Loading
  },
  data: () => {
    return {
      username: '',
      userimage: '',
      rolelist: []
    }
  },
  created () {
    let userCookie = this.$cookies.get('user')
    // check user number is set
    if (!userCookie) {
      this.logOut()
    }
  },
  methods: {

    // Log Out
    logOut () {
      this.$cookies.remove('user')
      this.$router.go('/')
      this.$router.push('/')
    },

    // update user role number
    UpdateRole (value) {
      store.commit('UpdateRole', {
        uRoleNumber: value
      })
      this.$dispatch('child-msg', this.usersss)
    }
  }
}
</script>
