<template>
	<div v-if="show" class="loading">
			<bounce-loader></bounce-loader>
			<h3 class="v-text" :style="{ color: Lcolor }">{{LoadingText}}</h3>
	</div>
</template>
<script>
import BounceLoader from 'vue-spinner/src/BounceLoader.vue'
export default {
  name: 'Loading',
  components: { BounceLoader },
  props: ['show', 'LoadingText', 'Lcolor'],
  data () {
    return {}
  }
}
</script>
<style lang="scss">
	.loading {
    background: #e8e8e89e;
    color: #444;
    height: 100%;
    width: 100%;
		position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    text-align: center;

    & .v-spinner {
			position: absolute;
	    bottom: 67px;
	    right: 104px;
    }

    & .v-text {
			position: absolute;
			bottom: 36px;
			right: 95px;
			font-size: 16px;
    }
	}
</style>