.nav-tabs {
  .nav-link {
    color: $gray-800;
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: $gray-800;
      background: #fff;
      border-color: $border-color;
      border-bottom-color: #fff;
      &:focus {
        background: #fff;
        border-color: $border-color;
        border-bottom-color: #fff;
      }
    }
  }
}

.tab-content {
  margin-top: -1px;
  background: #fff;
  border: 1px solid $border-color;
  .tab-pane {
    padding: $spacer;
  }
}

.card-block {
  .tab-content {
    margin-top: 0;
    border: 0;
  }
}

.icon {
  background: $navbar-icon;
}

.menu-icons {
    height: 24px;
    margin-bottom: -8px !important;
    width: 24px !important;
}

.dashboard {
  background: $dashboard-icon;
  background-size: cover;
}

.bank__account {
  background: $box-icon;
  background-size: cover;
}

.tourist__card {
  background: $credit-icon;
  background-size: cover;
}

.reservation {
  background: $reservation-icon;
  background-size: cover;
}

.profile {
  background: $profile-icon;
  background-size: cover;
}

.security {
  background: $security-icon;
  background-size: cover;
}

.camera {
  background: $camera-icon;
  background-size: cover;
  display: inline-block;
  width: 40px !important;
  height: 35px;
}

.passport-icon {
  background-size: cover;
  display: inline-block;
  width: 40px !important;
  height: 40px;
  background-color: #8a8985;
  -webkit-mask-image: $passport-icon;
  position: absolute;
  top: 36%;
  right: 0;
  left: 0;
  margin: auto;

}

.nav-item {
}
